/** COMMON **/

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

.min-height-screen-height{
    min-height: 100vh;
}

.min-height-parent-height{
    min-height: 100%;
}

.height-parent-height{
    height: 100%;
}

.relative{
    position: relative;
}


/** FLEXBOX HELPERS **/

.flex-container{
    display: flex;
    flex-direction: row;
}

.flex-div{
    flex: 1 1;
}


.flex-container-column {
    display: flex;
    flex-direction: column;
    flex-flow: column;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

/* EDITORS TABS */

#my-editors-tabs {
    background-color: #f1f1f1;
}

/* Change background color of buttons on hover */
.editor-tab:hover {
    background-color: #ddd;
}

/* Style the buttons inside the tab */
.editor-tab {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 14px;
    transition: 0.3s;
    font-size: 12px;
    font-family: sans;
    margin-bottom: 0;
    box-sizing: border-box;
    line-height: 16px;
}

/* Create an active/current tablink class */
.editor-tab.active {
    background-color: #ccc;
    box-shadow: inset 0 -2px 0 #738de9;
} 

/* Style the tab content */
.tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.close-tab {
    color: gray;
    margin-left: 5px;
}

.close-tab:hover {
    color: black;
    margin-left: 5px;
}

/* EDITORS */

#editor-div{
    display: flex;
    flex-flow: column;
    flex: 1 1;
    overflow-y: auto;
}

#my-editors .editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#editor-1{
    display: inline-block;
}


